

.alan {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

.alan {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.alan  {
  background-color: #111111;
}